.header {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  width: 100%;
  padding: 0.75em 2em;
  height: 70px;
}

.header-title {
  font-size: 1.5em;
  cursor: pointer;
}

.header-action {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  margin-right: 4em;
}

.header-link {
  padding: 0em 1em;
  cursor: pointer;
  color: white;
}
