body{
  background: whitesmoke;
  margin:0px;
  padding: 0px;
}
.home-container{
  background-image: url("../images/image-hero-desktop.jpg");
  /* Set a specific height */
  height: 50vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index:2;
}
.home-content{
  width:40%;
  margin:auto;
}
.home-modal{
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  width: 40%;
  min-height: calc(100vh - 170px);
  margin-top: 20px;
  padding: 1.5em 0em;
  margin-left:30%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid white;
  background: white;

}
.home-model{
  display: block;
  justify-content: center;
  height: 20em;
  width:30%;

}