.pcard-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden; 
    height: auto;
    width:100%;
}
.pcard-title{
    display: flex;
    justify-content: space-between;
    width:100%;
    font-size: 20px;
    padding: 1em 1em;
    margin-top: -2.3em;
    margin-left:1em;
}
.pcard-pledge{
    color: hsl(176, 50%, 50%);
    font-size: 16px;
    font-weight: 200;
    cursor: pointer;
    /* margin-left: 1em; */
}
.pcard-content{
    font-size: 0.90em;
    color:darkgray;
    padding: 0em 1em; 
    text-align: justify;
    margin-left:1em;
}
.pcard-extend{
    display: flex;
    justify-content: space-between;
    width:115%;
    margin:2em 0em 0em -3em;
    padding: 2em 0em 0em 0em;
    border-top:1px solid lightgray;
}
.pcard-right{
    display: flex;
    align-items: center;
}
.pcard-cost{
    border:1px solid lightgray;
    border-radius: 2em;
    display: block;
    height: 30px;  
    width: 100px;  
    font-size: 18px;
    font-weight: 400;
    margin:0em 1em 0em 0em ;
    text-align: center;
}
.hr {
    border: 1px solid #ddd;
    margin-top: 2em;
    width:100%;
}

.ant-card.ant-card-bordered.pcard-container{
    margin-bottom: 2em;
}

@media screen and (max-width: 
  768px){
    .pcard-title{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width:100%;
        font-size: 20px;
        padding: 1em 1em;
        margin-left:1em;
    }
    .pcard-pledge{
        color: hsl(176, 50%, 50%);
        font-size: 16px;
        font-weight: 200;
        cursor: pointer;
        margin-left: -1em;
    }
    .pcard-left{
        font-size: 20px;
        font-weight: 500;
        margin-left: -1em;
    }
    .pcard-extend{
        display: flex;
        flex-direction: column;
        width:115%;
        margin:2em 0em 0em -3em;
        padding: 2em 0em 0em 0em;
        border-top:1px solid lightgray;
    }
    .pcard-right{
        display: flex;
        flex-direction: column;
        margin:0em 0em 0em -7em;
    }
    .pcard-cost{
        border:1px solid lightgray;
        border-radius: 2em;
        display: block;
        height: 30px;  
        width: 100px;  
        font-size: 18px;
        font-weight: 400;
        margin:1em 1em 1em 0em ;
        text-align: center;
    }
  }