.parentcard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
}
.title {
  width: fit-content; 
  font-weight: 400;
  font-size: 24px;
  text-align: left;
}
.content {
  width: 100%;
  color: darkgray;
  text-align: justify;
  font-size: 16px;
  margin-top: 1em;
}
