.pledge-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  height: auto;
}
.pledge-title {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  width: 94%;
  font-size: 20px;
  padding: 1em 0em;
}
.pledge-content {
  font-size: 0.9em;
  color: darkgray;
  padding: 0em 1em;
  text-align: justify;
}
.pledge-button {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  width: 94%;
  padding: 1em 0em; 
}
